<div class="container">
  <form [formGroup]="crearBlog" (ngSubmit)="onSubmit()" class="mt-4">
    <app-paragraph [style]="'text-center fw-bold'" [value]="'Crear entrada'"></app-paragraph>
        <div class="mb-3">
      <app-input
        [label]="'Titulo'"
        [placeholder]="'Titulo de entrada'"
        [control]="crearBlog.controls['title']"
      />
      <app-alert *ngIf="this.crearBlog.get('title')?.errors?.['required']" [message]="'El titulo de la entrada no puede estar vacio'" [type]="'success'"></app-alert>
    </div>
    <div class="mb-3">
      <app-input
        [label]="'Descripcion'"
        [placeholder]="'Descripcion de la entrada'"
        [control]="crearBlog.controls['description']"
      />
    </div>
    <div class="mb-3">
      <app-input
        [label]="'Fecha de publicacion'"
        [type]="'date'"
        [control]="crearBlog.get('date')"
      />
    </div>
    <div class="mb-3">
      <app-input
        [label]="'Autor'"
        [placeholder]="'Nombre del autor'"
        [control]="crearBlog.get('author')"
      />
    </div>
     
    <div class="d-flex justify-content-center">
      <app-button [class]="'btn btn-primary'" [type]="'submit'" [value]="'Guardar'" [disabled]="this.crearBlog.invalid"></app-button>
    </div>
  </form>
</div>
