<nav class="navbar py-2 px-5">
    <div class=" container-fluid">
        <div class="d-flex flex-column gap-2">
            <a class="navbar-brand fw-bold">IUB-ANGULAR</a>
<p class="text-secondary">Blog de entrada de IUB</p>
        </div>
        <app-button [class]="'btn text-white btn-primary px-2'" [value]="'NUEVA ENTRADA'" (crearEmmiter)="crear($event)"></app-button>
        <!-- <button class="btn  text-white btn-primary px-2  " type="button"  (click)="crear()">NUEVA ENTRADA</button> -->
    </div>
  </nav>