<app-navbar (ocultarComponente)="crear($event)"></app-navbar>
<ng-container>
  <app-list-blog *ngIf="showList" (update)="update($event)" (notification)="notification($event)"></app-list-blog>
</ng-container>
<ng-container *ngIf="showComponent">
  <app-crear-blog />
</ng-container>
<ng-container *ngIf="showUpdate">
  <app-actualizar-blog  (update)="actualizar($event)" [blog]="blog"></app-actualizar-blog>
</ng-container>
<ng-container *ngIf="showVisualizar">
<app-visualizar [blogData]="blogd"></app-visualizar>
</ng-container>